/// Here you can add other styles
.profile-form-one {
  text-align: center;
  display: flex;
    align-items: center;
    justify-content: center;
  .profile-bg {
    background-color: white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20%;
  }
}

//myProfile.js component
.myProfile {
  .jumbotron {
    background: url('https://images.unsplash.com/photo-1494806465803-34e97e0ec1c0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=372db1e34dfe54d8477df24fb85bc009&auto=format&fit=crop&w=1047&q=80') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 200px 0;
    margin: 0;
  }
  .profile-image-btn-container {
    margin: -120px 0 auto;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .profile-info {
      display: inline-block;
      text-align: center;
      img {
        border-radius: 50%;
        display: inline-block;
      }
      .user-details {
        .user-name {
          font-weight: bold;
        }
        .user-location {
        }
      }
    }
    .follow-btn-container {
        margin-left: 20px;
        // display: inline-block;
      }
  }

  .profile-main-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(200px, auto);
    .about-me {
      .card {
        height: 100%;
        .card-body {
        }
      }
    }
    .tour-info {
      margin-left: 15px;
    }
  }
}
